<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo start at <%= kindofDay %> </h1>

    <ul>
        <% for(let item of newListItems){%>
            <li><%= item %> </li>
        <% } %> 
    </ul>

    <form class="" action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>

</body>
</html>